:root {
  --ice: #cae8ea;
  --babyblue: #b6e1e3;
  --lightteal: #7acccd;
  --teal: #4fa09f;
  --darkteal: #176664;
}
/* §§ Navigation */
html {
  background-color: var(--lightteal);
  font-size: 10px;
}

header {
  margin: 0 auto;
}

header ul {
  /* Rests */
  list-style-type: none;
  padding-left: 0;

  display: flex;
  justify-content: space-around;

  width: 70%;
  margin: 0 auto;
  padding: 1rem 1rem;

  font-size: 1.6rem;

  background-color: var(--babyblue);

  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

header ul > li {
  display: inline-block;

  /* margin: 5px; */
  padding: 1rem 0.5rem;
}

header ul > li > a {
  text-decoration: none;
  color: var(--darkteal);
}

footer {
  position: absolute;
  bottom: 0;

  width: 100vw;

  background-color: var(--teal);
}
